BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None  # 明确禁止简短函数内联为单行
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach  # 大括号不换行
IndentCaseLabels: true  # 设置 case 标签缩进